// :root {
//   // 主色调
//   --dawei-color-main: #5129f2;
//   --dawei-color-main-light-1: #776bff;
//   --dawei-color-main-light-2: #ffe9cd7a;

//   // 背景主色调
//   --dawei-backgroud-color: white;

//   // 适配黑色主题的字体色
//   --dawei-color-dark-black: black;
//   --dawei-color-dark-gray: gray;
// }

// body {
//   background-color: var(--dawei-backgroud-color);
// }

$primary-color-05: #fff7ed;
$primary-color-1: #ffedd5;
$primary-color-2: #fed7aa;
$primary-color-3: #fdba74;
$primary-color-4: #fb923c;
$primary-color-5: #f6671b;
$primary-color-6: #ea580c;
$primary-color: #f6671b;
